.offcanvas {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  display: none;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.offcanvas.show {
  transform: translateY(0);
  display: block;
}

.offcanvas-content {
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 24px;
  cursor: pointer;
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  height: 20px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #0d6efd;
  border-radius: 25px;
  transition: width 0.1s;
}

.leftColorDiv{
  width: 60px;
  background: #0c6efd;
  font-size: 36px;
  text-align: center;
  padding-top: 14px;
  padding-right: 8px;
  color: #fff;
  align-self: normal;
}
.closeIcon{
  padding: 4px 24px;
  background: #0c6efd;
  width: fit-content;
  position: absolute;
  top: -32px;
  right: 8px;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

}
.triangle-right {
width: 0;
height: 0;
  border-top: 12px solid transparent;
  border-left: 32px solid #0c6efd;
  border-bottom: 12px solid transparent;
}